
@{
    ViewBag.Title = "RentalForm";
}

<h2>RentalForm</h2>

<form id="rentalForm">
    <div class="form-group">
        <label><b>Customer</b></label>
        <div class="tt-container">
            <input id="customerName" name="customer" data-rule-validCustomer ="true" required type="text" value="" class="form-control" />
        </div>
      
    </div>

    <div class="form-group">
        <label><b>Movie</b></label>
        <div class="tt-container">
            <input id="movieName" name="movie" required data-rule-validMovie="true" type="text" value="" class="form-control" />
        </div>
        
    </div>

    <div class="row">
        <div class="col-sm-3">
            <ul id="movieList" class="list-group"></ul>
        </div>
    </div>
   

    <button class="btn btn-primary">Submit</button>
</form>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var vm = {
                movieIds : []
            }

            var customer = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customerName').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'customers',       
                    display: 'name',
                    source: customer
                }).on("typeahead:select", function (e, customer) {
                    vm.customerId = customer.id;

                });


            @*Movie Name Textbox*@

            var movie = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movieName').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'movies',
                    display: 'name',
                    source: movie
                }).on("typeahead:select", function (e, movie) {

                    $("#movieList").append("<li class ='list-group-item'>" + movie.name + "</li>");
                    $("#movieName").typeahead("val", " ");
                    vm.movieIds.push(movie.id);

                });

            //custom customer validation
            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer");

            //custom movie validation
            $.validator.addMethod("validMovie", function () {
                return vm.movieIds.length > 0;
            }, "Please select a valid movie");


            //inbuilt validation
            var validator = $("#rentalForm").validate({

                submitHandler: function () {
                    $.ajax({

                        url: "/api/rentals",
                        method: "post",
                        data: vm

                    })
                        .done(function () {
                            toastr.success("Rental Successfully saved");
                            $("#customerName").typeahead("val", "");
                            $("#movieName").typeahead("val", "");
                            $("#movieList").empty();

                            vm = { movieIds: [] };
                            validator.resetForm();    

                        })
                        .fail(function () {
                            toastr.error("An unexpected issue has occurred");

                        });
                    //prevents form from submitting normally since there is no e object to call preventDefault method on
                    return false;
                }
            });

            
        });
    </script>





}