<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key ="FacebookAppId" value="683931488729991"/>
  <add key ="FacebookAppSecret" value="c081483e00fe02075e5b620c31e3e224"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>